{% extends "base.html" %}

{% load i18n bootstrap3 cache %}

{% block content %}
    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-header">
                <h1 class="blog-title">The Bootstrap Blog</h1>

                <p class="lead blog-description">The official example template of creating a blog with
                    Bootstrap.</p>
            </div>

            <div class="blog-post">
                <h2 class="blog-post-title">{{ post.title }}</h2>

                <p class="blog-post-meta">{{ post.created }} by <a href="#">{{ post.author }}</a></p>

                <p>{{ post.summary }}</p>

            </div>
            <!-- /.blog-post -->

        </div>
        <!-- /.blog-main -->

        {% cache 600 sidebar %}
            <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                <div class="sidebar-module">
                    <h4>
                        <span class="glyphicon glyphicon-th-list"></span>
                        类别
                    </h4>
                    <ul class="nav">
                        {% for category in category_list %}
                            <li>
                                <a href="{% url 'category_post_list' category.slug %}">
                                    {{ category.title }}
                                    <span class="badge pull-right">{{ category.post_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-module">
                    <h4>
                        <span class="glyphicon glyphicon-tags"></span>
                        标签
                    </h4>

                    <div>
                        {% for tag in tags %}
                            <a href="{% url 'tag_post_list' tag.slug %}">
                                <span class="label label-default">{{ tag.name }}</span>
                            </a>
                        {% endfor %}

                    </div>
                </div>

                <div class="sidebar-module">
                    <h4>
                        <span class="glyphicon glyphicon-calendar"></span>
                        归档
                    </h4>
                    <ul class="nav">
                        {% for month in month_list %}
                            <li>
                                <a href="{% url 'archive_post_list' month.date_created.year month.date_created.month %}">
                                    {{ month.date_created|date:'Y年F' }}
                                    <span class="badge pull-right">{{ month.post_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="sidebar-module">
                    <h4>
                        <span class="glyphicon glyphicon-link"></span>
                        链接
                    </h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </div>
            <!-- /.blog-sidebar -->
        {% endcache %}

    </div><!-- /.row -->
{% endblock %}