{% load i18n staticfiles %}

<!-- Comment Form -->
<div class="post-comment">
    <h3>{% trans "Post Comment" %}</h3>

    <form id="comment_form">
        <input type="hidden" name="post_id" value="{{ post.id }}">
        <input type="hidden" name="parent_id">

        {% if user.is_authenticated %}
            <div class="media">
                <a class="pull-left" href="#">
                    {% if user.avatar_url %}
                        <img class="media-object comment-user-avatar"
                             src="{{ user.avatar_url }}"
                             alt="{{ user.username}}"/>
                    {% else %}
                        <img data-src="holder.js/54x54/text:{{ user.username|upper|slice:":2" }}">
                    {% endif %}
                </a>

                <div class="media-body">
                    <h4 class="media-heading">
                        {{ user.username }}
                    </h4>

                    <p>{{ user.email }}</p>
                </div>
            </div>
        {% else %}
            <label>{% trans "Name" %} <span class="color-red">*</span></label>

            <div class="row margin-bottom-20">
                <div class="col-md-7 col-md-offset-0">
                    <input name="user_name" type="text" class="form-control" data-bv-notempty="true"
                           data-bv-max=255>
                </div>
            </div>

            <label>{% trans "Email" %}</label>

            <div class="row margin-bottom-20">
                <div class="col-md-7 col-md-offset-0">
                    <input name="user_email" type="text" class="form-control"
                           data-bv-emailaddress="true">
                </div>
            </div>

            <label>{% trans "Website" %}</label>

            <div class="row margin-bottom-20">
                <div class="col-md-7 col-md-offset-0">
                    <input name="user_website" type="text" class="form-control" data-bv-uri="true">
                </div>
            </div>
        {% endif %}

        <label>{% trans "Comment Content" %} ({% trans "The limit is 1024 chars" %})<span
                class="color-red">*</span></label>

        <div class="row margin-bottom-20">
            <div class="col-md-11 col-md-offset-0">
                <textarea name="content" class="form-control" rows="8" data-bv-notempty="true"
                          data-bv-max=1024></textarea>
            </div>
        </div>

        <p>
            <button class="btn-u" type="submit">{% trans "Post Comment" %}</button>
        </p>
    </form>
</div>
<!-- End Comment Form -->
