{% load i18n %}

<h2>
    <a href="{% url "post_detail" post.slug %}">
        {{ post.title }}
    </a>
</h2>

<div class="blog-post-tags">
    <ul class="list-unstyled list-inline blog-info">
        <li><i class="fa fa-calendar"></i> {{ post.created }}</li>
        <li><i class="fa fa-pencil"></i> {{ post.author }}</li>
        <li><i class="fa fa-comments"></i>
            <a href="{% url 'post_detail' post.slug %}#comments">{{ post.comment_count }} {% trans "Comments" %}</a>
        </li>
        <li><i class="fa fa-eye"></i> {{ post.view_count }} {% trans "Read Count" %}</li>
    </ul>
    {% with post.tags.all as post_tags %}
        {% if post_tags %}
            <ul class="list-unstyled list-inline blog-tags">
                <li>
                    <i class="fa fa-tags"></i>
                    {% for tag in post_tags %}
                        <a href="{% url "tag_post_list" tag.slug %}">{{ tag.name }}</a>
                    {% endfor %}
                </li>
            </ul>
        {% endif %}
    {% endwith %}
</div>
{% if post.thumbnail_url %}
    <div class="blog-img">
        <a href="{% url "post_detail" post.slug %}">
            <img class="img-responsive" src="{{ post.thumbnail_url }}" alt="{{ post.title }}">
        </a>
    </div>
{% endif %}
