{% extends "base.html" %}

{% block title %}Page Not found{% endblock %}

{% block content %}
    <!--Error Block-->
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-v1">
                <span class="error-v1-title">404</span>
                <span>出错了!</span>

                <p>您请求的页面不存在。</p>
                <a class="btn-u btn-bordered" href="/">返回首页</a>
            </div>
        </div>
    </div>
    <!--End Error Block-->
{% endblock content %}